/*#region form */
.action-form-container {
    position: relative;
    background-color: rgb(229, 229, 229);
    color: white;
    width: 350px;
    border-radius: 8px;
    padding: 30px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
    margin-top: 200px;
}

.action-form-header {
    background-color: #006991;
    border-radius: 3px;
}

.action-form-title {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    justify-content: center;
}

.highlight-name {
    color: rgb(92, 244, 118);
    margin: 0 4px;
}

.action-form-tab-selector {
    display: flex;
}

.action-form-tab {
    flex: 1;
    padding: 8px;
    border: none;
    font-weight: bold;
    border-radius: 0px;
    cursor: pointer;
    background-color: #003549;
    color: #ffffff;
    opacity: 0.5;
}

.action-form-tab.active {
    background-color: #006991;
    color: #ffffff;
    opacity: 1;
}

.action-form-label {
    margin-bottom: 4px;
    font-size: 1rem;
    color: black;
}

.action-form-instruction {
    display: flex;
    font-size: 0.95rem;
    margin-bottom: 15px;
    margin-top: 10px;
    color: rgb(0, 104, 18);
}

.action-form-row {
    margin-top: 5px;
}

.action-form-buttons {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.action-form-button {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.action-form-save {
    background-color: rgb(0, 104, 18);
    color: white;
}

.action-form-cancel {
    background-color: #555;
    color: #ccc;
}
/*#endregion*/  